*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* example */
body {
  overflow-x: hidden;
  background: yellow;
}

.new {
  display: block;
  margin: 0px auto;
  width: 420px;
}